* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ropa Sans', sans-serif;
    color: #777777;
    background-color: #FFFFFF;
}

header {
    width: 100vw;
    margin-bottom: 10px;
    height: 49px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    display: flex;
}

h1 {
    margin-left: 5%;
    margin-top: 0.5%;
}


h4 {
    font-size: 10px;
    margin-left: 2px;
    margin-top: 1%;
    
}

h2 {
    margin-top: 0.5%;
    margin-left: 75%;

}

.banner {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    width: 90%;
}

.boxes {
    display: flex;
    justify-content: space-around;
}

.box1 {
    width: 256px;
    height: 242px;
    background-color: #eeeeee;
}

.imagebox1 {
    width: 100%;
}

.box2 {
    width: 256px;
    height: 242px;
    background-color: #eeeeee;

}

.imagebox2 {
    width: 100%;
}

.boxdetail {
    display: flex;
    justify-content: space-between;
    margin: 5px;

}

.rightnew {
    width: 56px;
    height: 21px;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #51D275;
    border-radius: 10.5px;

}

.rightsale {
    width: 56px;
    height: 21px;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #dc9730;
    border-radius: 10.5px;
}

.description {
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    text-align: justify;
    color: #555555;
    padding: 3%;
}

.left {
    float: left;
    margin: 0;

}

.right {
    float: right;
    margin: 0;

}



.rectangle {
    clear: both;
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangletext1 {
    width: 100%;
    height: 33px;
    font-size: 25px;
    text-align: center;
    color: #888888;
    margin: 10 auto;
}

.containerInd {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerModern {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerClassic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerImg {
    filter: opacity(60%);
    width: 100%;
    margin: 10px;
}

.rectangletext {
    font-size: 25px;
    text-align: center;
    color: black;
    position: absolute;
}

footer {
    background-color: #333333;
    margin-top: 40px;
    padding: 5%;
    height: 243px;
    width: 100vw;
    color: #FFFFFF;
    font-size: 12px;
    text-align: justify;
    display: flex;
    justify-content: space-around;

}

.info {
    width: 175px;
    height: 95px;
    margin-left: auto;
    margin-right: auto;

}

.social {
    text-align: left;
    width: 98px;
    margin-left: 0;
    margin-right: auto;
    clear: both;
    margin-top: 30px;
}

.containericon {
    width: 98px;
    margin-left: 0;
    margin-right: auto;
    clear: both;
}

.icons {
    display: inline;
    list-style: none;
    display: inline-block;
    margin-left: 0;
    margin-right: 5%;
    margin-top: 5px;
    clear: both;
}